{% extends 'base.html' %}

{% block body %}
    <section>
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </section> 
{% endblock %}

{% block join %} 
    <section>
        <h2>rien trouvé ?</h2>
        <p>Il se peut que personne n'ait pensé à proposer le cours parfait pour vous. Dans ce cas initiez un cours à votre convenance et de futurs autres élèves viendront s'y joindre.</p>
        <a href="{{ url ('courses:create') }}">proposez un cour</a>
    </section>
{% endblock join %}