<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block meta_title %}Cours particuliers et soutien scolaire mutualisés{% endblock %} - Acadomia</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="description" content="Mutualisation de cours particuliers, soutien scolaire et cours à domicile pour des coûts réduits." />
        <meta name="keywords" content="cours particuliers, soutien scolaire, cours à domicile, aide cours" />
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.dropotron.min.js"></script>
        <script src="/static/js/jquery.scrolly.min.js"></script>
        <script src="/static/js/jquery.scrollgress.min.js"></script>
        <script src="/static/js/skel.min.js"></script>
        <script src="/static/js/skel-layers.min.js"></script>
        <script src="/static/js/init.js"></script>

        <noscript>
        <link rel="stylesheet" href="css/skel.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-wide.css" />
        <link rel="stylesheet" href="css/style-noscript.css" />
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!-- Header -->
        <header id="header" class="{% block header_class %}{% endblock %}">
            <h1 id="logo"><a href="/">Acadomia <span>, cours mutualisés.</span></a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="{{ url('courses:list') }}" class="current">Liste des cours</a></li>
                    <li><a href="/faq/">Questions fréquentes</a></li>
                    {% if request.user.is_authenticated() %}
                        <li class="submenu opener">
                            <a href="{{ url('users:dashboard') }}" class="button special">Mon compte</a>
                            <ul>
                                <li><a href="{{ url('users:dashboard') }}">Tableau de bord</a></li>
                                <li><a href="{{ url('users:update') }}">Modifier mes infos</a></li>
                                <li><a href="{{ url('users:logout') }}">Quitter</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url('users:login') }}">J'ai un compte</a></li>
                        <li><a href="{{ url('users:create') }}" class="button special">Je m'inscris</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block banner %}{% endblock %}
        <!-- Main -->
        <article id="main">
            {% block header %}{% endblock %}
            {% block body %}{% endblock %}
        </article>
        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/Acadomia_org" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/pages/Acadomia/172043506273273" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#099;&#111;&#108;&#105;&#097;&#046;&#111;&#114;&#103;" class="icon circle fa-envelope"><span class="label">Envoyer par mail</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; <a href="http://Acadomia.org" title="cours particuliers mutualisés">Acadomia</a> 2018</li>
            </ul>
        </footer>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-35902173-1','auto');ga('send','pageview');</script>
    </body>
</html>
