<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{% block meta_title %}Cours particuliers et soutien scolaire mutualisés{% endblock %} - Acadomia</title>
    <meta name="description" content="Mutualisation de cours particuliers, soutien scolaire et cours à domicile pour des coûts réduits." />
    <meta name="keywords" content="cours particuliers, soutien scolaire, cours à domicile, aide cours" />

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/framework.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    {% block link %}{% endblock link %}


</head>

<body id="{% block page_id %}{% endblock page_id %}">

    <header>
        <h1><a href="{{ url('home') }}">Acadomia<span>, cours mutualisés.</span></a></h1>
        <nav class="{% if request.user.is_authenticated() %}authenticated{% endif %}">
            <ul>
                <li><a href="{{ url('courses:list') }}">Liste des cours</a></li>
                {% if request.user.is_authenticated() %}
                <li><a href="{{ url('users:dashboard') }}">Mon compte</a>
                    <ul>
                        <li><a href="{{ url('users:dashboard') }}">Tableau de bord</a></li>
                        <li><a href="{{ url('users:update') }}">Modifier mes infos</a></li>
                        <li><a href="{{ url('users:logout') }}">Quitter</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{{ url('users:login') }}">J'ai un compte</a></li>
                    <li><a href="{{ url('users:create') }}">Je m'inscris</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h2>{% block title %}{% endblock title %}</h2>
        {% block body %}{% endblock body %}
        {% block join %}{% endblock join %}
    </main>

    <footer>
        <nav>
            <h2>Voir aussi</h2>
            <a href="{{ url('page', kwargs={'slug':'faq'}) }}">Questions fréquentes</a>
        </nav>
        <nav>
            <a href="https://twitter.com/Acadomia_org" title="Compte Twitter de @Acadomia_org"></a>
            <a href="https://www.facebook.com/pages/Acadomia/172043506273273" title="Page Facebook de Acadomia"></a>
            <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#099;&#111;&#108;&#105;&#097;&#046;&#111;&#114;&#103;" title="Contacter Acadomia par mail"></a>
        </nav>
        <p>&copy; Acadomia <time datetime="20180101">2018</time></p>
    </footer>

    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-35902173-1','auto');ga('send','pageview');</script>

{% block sticky %}{% endblock sticky %}

</body>

</html>
