<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{% block meta_title %}Cours particuliers et soutien scolaire mutualisés{% endblock %} - Acadomia</title>
    <meta name="description" content="Mutualisation de cours particuliers, soutien scolaire et cours à domicile pour des coûts réduits." />
    <meta name="keywords" content="cours particuliers, soutien scolaire, cours à domicile, aide cours" />

    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/framework.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/css/home.css" rel="stylesheet" />

</head>

<body id="pg_home">

    <header>
        <h1><a href="#">Acadomia<span>, cours mutualisés.</span></a></h1>
        <nav>
            <a href="{{ url('courses:list') }}">Liste des cours</a>
            {% if request.user.is_authenticated() %}
                <a href="{{ url('users:dashboard') }}">Mon compte</a>
                <!-- <ul>
                    <li><a href="{{ url('users:dashboard') }}">Tableau de bord</a></li>
                    <li><a href="{{ url('users:update') }}">Modifier mes infos</a></li>
                    <li><a href="{{ url('users:logout') }}">Quitter</a></li>
                </ul> -->
                {% else %}
                <a href="{{ url('users:login') }}">J'ai un compte</a>
                <a href="{{ url('users:create') }}">Je m'inscris</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <section>
            <h2>Des cours qui vous correspondent</h2>
            <p>Que vous cherchiez du <strong>soutien scolaire</strong> ou des <strong>cours mutualisés</strong>, parcourez la liste des cours près de chez vous et rejoignez un groupe qui vous correspond.<br/>
            Vous ne trouvez rien ? Créez le groupe et ouvrez ainsi une session pour que d'autres vous rejoignent.</p>
        </section>
        <section>
            <h2>Proposez vos compétences</h2>
            <p>Acadomia c'est le partage des connaissances <strong>pour tous et par tous</strong>. Si vous avez un métier, une compétence ou une passion à partager, inscrivez-vous et proposez vos connaissances en tant qu'enseignant.</p>
            <a href="{{ url('users:create') }}">Créer un compte</a>
        </section>
        <section>
            <article>
                <h3>Économiser</h3>
                <p>Quels que soient leurs prix, des cours particuliers deviennent onéreux au fil des semaines.<br/>
                En partageant les cours particuliers, vous en <strong>partagez aussi le coût !</strong></p>
            </article>
            <article>
                <h3>Partager</h3>
                <p>En partageant les cours d'anglais, de sculpture ou de mécanique, vous <strong>rencontrez aussi d'autres passionnés</strong>.<br/>
                Vous pourrez ainsi réviser ensemble et pourquoi ne pas aussi <strong>pratiquer en dehors des cours</strong> ?</p>
            </article>
            <article>
                <h3>Tous gagnant</h3>
                <p>Un professeur particulier a de nombreux avantages à participer à Acadomia. Il peut pérenniser son activité, proposer des cours à moindre prix par élève avec un revenu décent, il se fait une experience plus forte de l'enseignement. Il enseigne à un nouveau public qui n'avait pas accès aux cours particuliers.</p>
            </article>
        </section>
        <section>
            <h2>Prêt à <strong>rejoindre Acadomia</strong> ?</h2>
            <p>C'est sans engagement, <strong>gratuit</strong>, et vous êtes directement mis en relation avec les participants.</p>
            <a href="{{ url('users:create') }}">Je m'inscris</a>
            <a href="{{ url('courses:list') }}">Voir les cours</a>
        </section>
    </main>

    <footer>
        <nav>
            <h2>Voir aussi</h2>
            <a href="#">Questions fréquentes</a>
        </nav>
        <nav>
            <a href="https://twitter.com/Acadomia_org" title="Compte Twitter de @Acadomia_org"></a>
            <a href="https://www.facebook.com/pages/Acadomia/172043506273273" title="Page Facebook de Acadomia"></a>
            <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#099;&#111;&#108;&#105;&#097;&#046;&#111;&#114;&#103;" title="Contacter Acadomia par mail"></a>
        </nav>
        <p>&copy; Acadomia <time datetime="20180101">2018</time></p>
    </footer>

</body>

</html>

