<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{% block meta_title %}Cours particuliers et soutien scolaire mutualisés{% endblock %} - Acadomia</title>
    <meta name="description" content="Mutualisation de cours particuliers, soutien scolaire et cours à domicile pour des coûts réduits." />
    <meta name="keywords" content="cours particuliers, soutien scolaire, cours à domicile, aide cours" />

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/framework.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />

</head>

<body id="pg_signin">

    <header>
        <h1><a href="#">Acadomia<span>, cours mutualisés.</span></a></h1>
        <nav>
            <a href="{{ url('courses:list') }}">Liste des cours</a>
            <a href="#">Questions fréquentes</a>
            <a href="{{ url('users:login') }}">J'ai un compte</a>
            <a href="{{ url('users:create') }}">Je m'inscris</a>
        </nav>
    </header>

    <main>
        <h2>me connecter</h2>
        <section>
            <form method="post">
                <ul>
                    <li>
                        <label for="id_username">Email :</label>
                        <input id="id_username" maxlength="254" name="username" type="text">
                    </li>
                    <li>
                        <label for="id_password">Mot de passe :</label>
                        <input id="id_password" name="password" type="password">
                    </li>
                </ul>
                <a href="/compte/register/">Je n'ai pas de compte</a>
                <input type="submit">
            </form>
        </section>
    </main>

    <footer>
        <nav>
            <h2>Voir aussi</h2>
            <a href="#">Questions fréquentes</a>
        </nav>
        <nav>
            <a href="https://twitter.com/Acadomia_org" title="Compte Twitter de @Acadomia_org"></a>
            <a href="https://www.facebook.com/pages/Acadomia/172043506273273" title="Page Facebook de Acadomia"></a>
            <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#099;&#111;&#108;&#105;&#097;&#046;&#111;&#114;&#103;" title="Contacter Acadomia par mail"></a>
        </nav>
        <p>&copy; Acadomia <time datetime="20180101">2018</time></p>
    </footer>

</body>

</html>