@import 'main';



// === home === //

#pg_home {
    body {
        @extend .enlarging
    }
    main {
        padding-top: 25px;
        > h2 {
            &:first-child::before {
            @extend .symbol;
            content: "";
            font-size: 2.25em;
            }
        }
        p {
            text-align: center;
        }
        section {
            margin: 2em 0;
            &:first-of-type {
                background-color: #83D3C9;
                color: #fff;
                padding: 3em;
                &::before{
                    @extend .symbol;
                    content: "";
                }
                a {
                @extend .type3;
                }   
            }
            &:last-child {
                @extend .contact1;
                a {
                @extend .type3;
                @extend .type4;
                }  
            }
            h2 {
                font-size: 1.5em;
                letter-spacing: 0.1em;
                font-weight: 300;
                line-height: 1.75em;
                text-transform: uppercase;
                text-align: center;
            }
            p {
                padding-top: 1.5em;
                text-align: center;
                margin: 0px 0px 2em;
                letter-spacing: 0.025em;
                strong {
                    font-weight: 400;
                }
            } 
        }
        article {
            display: inline-table;
            width: 32%;
            padding: 0 2em;
            &:nth-child(1) h3::before {
                @extend .symbol;
                content:"\f153";
            }
            &:nth-child(2) h3::before  {
                @extend .symbol;
                content:"\f0c0";
            }
            &:last-child h3::before {
                @extend .symbol;
                content:"\f091";
            }
            h3 {
                text-align: center;
                font-weight: 300;
                line-height: 1.75em;
                margin-bottom: 1em;
                text-transform: uppercase;
                font-size: 1.15em;
                letter-spacing: 0.025em;
            }
        }
    }
}

// === /home === //