{% extends 'aside.html' %}

{% block meta_title %}Cours de {{ course.title }} (en {{ course.category }}){% endblock %}

{% block page_id %}pg_detail{% endblock page_id %}

{% block title %}Cours de {{ course.title }} (en {{ course.category }}){% endblock %}


{% block content %}
    <article>
        <p>{{ course.body }}</p>
        <small>(cours de {{ course.category }})</small>
    </article>

{% endblock content %}

{% block sidebar %}
    <section>
        <h2>Ils ont rejoint ce cours</h2>
        <ul>
            {% for participation in course.participations.all() %}
            <li class="{{ participation.role }} {% if course.is_owner(request.user) %}owner{% endif %}">
                <img src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/1/000/1a6/354/0860382.jpg" />
                {{ participation.user.profile.discreet }}
            </li>
            {% endfor %}

        </ul>
    </section>
    {% if course.is_participant(request.user) %}
        <a href="{{ url('courses:leave', course) }}">Quitter ce cours</a>
    {% else %}
        <a href="{{ url('courses:join', course) }}">Rejoindre ce cours</a>
    {% endif %}
{% endblock sidebar %}

{% block join %}
    <section>
        <h2>questions et commentaires</h2>
        {% for comment in course.comments.all() %}
            <article>
                <p>{{ comment.body }}</p>
                <small>par {{ comment.user.profile.discreet }} le {{ comment.creation_date|date }}</small>
            </article>
        {% endfor %}

        <form method="post" action="{{ url('courses:comment', course) }}">
            <h3>écrire un commentaire</h3>
            {{ comment_form }}
            <input type="submit"></input>
        </form>
    </section>
{% endblock join %}
