{% extends 'base.html' %}

{% block meta_title %}Proposer un cours mutualisé en prof ou élève{% endblock %}

{% from "forms/macros.html" import form_content %}

{% block title %}Proposer un cours{% endblock title %}

{% block page_id %}pg_signin{% endblock page_id %}

{% block body %}
    <section>
        <form method="post" action=".">
            {{ form_content(form) }}
            <input type="submit" />
        </form>
    </section>
{% endblock %}
