{% extends 'base.html' %}

{% block title %}Des cours qui vous correspondent{% endblock title %}

{% block link %}<link href="/static/css/home.css" rel="stylesheet" />{% endblock link %}

{% block page_id %}pg_home{% endblock page_id %}

{% block body %}
        <p>Que vous cherchiez du <strong>soutien scolaire</strong> ou des <strong>cours mutualisés</strong>, parcourez la liste des cours près de chez vous et rejoignez un groupe qui vous correspond.<br/>
        Vous ne trouvez rien ? Créez le groupe et ouvrez ainsi une session pour que d'autres vous rejoignent.</p>
    <section>
        <h2>Proposez vos compétences</h2>
        <p>Acadomia c'est le partage des connaissances <strong>pour tous et par tous</strong>. Si vous avez un métier, une compétence ou une passion à partager, inscrivez-vous et proposez vos connaissances en tant qu'enseignant.</p>
        <a href="{{ url('users:create') }}">Créer un compte</a>
    </section>
    <section>
        <article>
            <h3>Économiser</h3>
            <p>Quels que soient leurs prix, des cours particuliers deviennent onéreux au fil des semaines.<br/>
            En partageant les cours particuliers, vous en <strong>partagez aussi le coût !</strong></p>
        </article>
        <article>
            <h3>Partager</h3>
            <p>En partageant les cours d'anglais, de sculpture ou de mécanique, vous <strong>rencontrez aussi d'autres passionnés</strong>.<br/>
            Vous pourrez ainsi réviser ensemble et pourquoi ne pas aussi <strong>pratiquer en dehors des cours</strong> ?</p>
        </article>
        <article>
            <h3>Tous gagnant</h3>
            <p>Un professeur particulier a de nombreux avantages à participer à Acadomia. Il peut pérenniser son activité, proposer des cours à moindre prix par élève avec un revenu décent, il se fait une experience plus forte de l'enseignement. Il enseigne à un nouveau public qui n'avait pas accès aux cours particuliers.</p>
        </article>
    </section>
{% endblock body %}
    
{% block join %}
    <section>
        <h2>Prêt à <strong>rejoindre Acadomia</strong> ?</h2>
        <p>C'est sans engagement, <strong>gratuit</strong>, et vous êtes directement mis en relation avec les participants.</p>
        <a href="{{ url('users:create') }}">Je m'inscris</a>
        <a href="{{ url('courses:list') }}">Voir les cours</a>
    </section>
{% endblock join %}

{% block sticky %}
    <script>
        (function() {
            "use strict";
            /*
            Creation of sticky effect for header nav
            */

            var body = document.querySelector('body');
            var html = document.querySelector('html');
            var nav = document.querySelector('header > nav');
            var header = document.querySelector('header');
            var sticky = false;

            body.onload = header.classList.add("homeheader");

            body.onscroll = function() {
                console.debug(sticky);
                if (sticky === false && html.scrollTop >= header.clientHeight) {
                    header.classList.remove("homeheader");
                    body.classList.add("enlarging");
                    sticky = true;
                }
                // `else` would not work as we check the value of sticky
                // if we scroll above the header height. 
                else if (sticky === true && html.scrollTop < (header.clientHeight + 440)) {
                    header.classList.add("homeheader");
                    body.classList.remove("enlarging");
                    sticky = false;
                } 
            }
        })();
    </script>
{% endblock sticky %} 
