@charset "UTF-8";
.symbol, #pg_faq main > h2:first-child::before, #pg_faq main section:last-child::before, #pg_courses main > h2:first-child::before, #pg_signin main > h2:first-child::before, #pg_dashboard main > h2:first-child::before, #pg_detail main > h2:first-child::before, #pg_detail main section > article:before, #pg_detail main section > section:before {
  display: block;
  text-align: center;
  font-family: FontAwesome;
  font-size: 3.5em;
  opacity: 0.35;
  margin: 10px 0 40px 0; }

.social, footer nav:last-of-type a:first-child::before, footer nav:last-of-type a:nth-child(2)::before, footer nav:last-of-type a:last-child::before {
  font-family: FontAwesome;
  font-size: 1.25em;
  display: inline-block;
  padding: 5px;
  color: #fff;
  border-radius: 100%;
  border: 0px none;
  height: 2.25em;
  line-height: 2.25em;
  position: relative;
  top: 0;
  left: 0;
  width: 2.25em;
  transition: all 0.2s ease-in-out 0s; }

.type1, #pg_courses main section:last-child a, #pg_signin main section form > input, #pg_detail main section:last-child input {
  background: none repeat scroll 0% 0% #83D3C9;
  border-color: #83D3C9;
  color: #fff;
  text-shadow: none;
  font-weight: 900; }
  .type1:hover, #pg_courses main section:last-child a:hover, #pg_signin main section form > input:hover, #pg_detail main section:last-child input:hover {
    background: none repeat scroll 0% 0% #88e3d1; }

.type2, .homeheader nav > ul > li > a, #pg_detail main section a {
  color: white;
  text-decoration: none;
  padding: 0.6em 0.75em;
  border: 1px solid transparent;
  margin-left: .5em; }
  .type2:hover, .homeheader nav > ul > li > a:hover, #pg_detail main section a:hover {
    border: 1px solid #fff; }

.type3, #pg_faq main section:last-child a, #pg_courses main section:last-child a, #pg_detail main section:last-child input, #pg_detail main section a {
  display: inline-block;
  border: 1px solid #FFF;
  text-shadow: none;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8em;
  width: 25%;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 0;
  left: 25%;
  transition: all 0s ease 0s; }
  .type3:hover, #pg_faq main section:last-child a:hover, #pg_courses main section:last-child a:hover, #pg_detail main section:last-child input:hover, #pg_detail main section a:hover {
    background-color: rgba(250, 250, 250, 0.15); }
  .type3:first-of-type, #pg_faq main section:last-child a:first-of-type, #pg_courses main section:last-child a:first-of-type, #pg_detail main section:last-child input:first-of-type, #pg_detail main section a:first-of-type {
    left: 37.5%; }

.type4:first-of-type, #pg_faq main section:last-child a:first-of-type {
  background: none repeat scroll 0% 0% #83D3C9;
  border-color: #83D3C9;
  left: 25%; }
  .type4:first-of-type:hover, #pg_faq main section:last-child a:first-of-type:hover {
    background: none repeat scroll 0% 0% #88e3d1; }

.enlarging {
  padding-top: 500px; }
  .enlarging header {
    top: 100px;
    transition: 0.3s top; }

.homeheader {
  text-shadow: 0px 0px 4px #000;
  background-image: url("/static/images/banner-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 29px 37px;
  position: inherit;
  margin-top: 0px;
  top: 0; }
  .homeheader h1 {
    display: inline-block;
    font-weight: 900;
    font-size: 1.05em;
    margin: 0; }
    .homeheader h1 a {
      text-decoration: none;
      color: white; }
    .homeheader h1 span {
      font-weight: 300; }
  .homeheader nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 29px 37px;
    letter-spacing: 0.075em;
    font-size: 0.8em; }
    .homeheader nav.sticky {
      position: fixed;
      top: 100px;
      margin-top: -100px;
      transition: 0.5s top; }
    .homeheader nav > ul {
      margin: 0;
      padding: 0; }
      .homeheader nav > ul > li {
        position: relative;
        list-style-type: none;
        display: inline-block; }
        .homeheader nav > ul > li:last-child:hover ul {
          display: inherit; }
        .homeheader nav > ul > li:last-child:hover > a {
          background-color: #88e3d1;
          border-bottom: none; }
        .homeheader nav > ul > li > a:hover {
          background: none;
          border: 1px solid #fff; }
        .homeheader nav > ul > li:last-child > a {
          background-color: #83D3C9;
          border-color: #83D3C9;
          color: #fff;
          text-shadow: none;
          font-weight: 900;
          padding-left: 1em;
          border-bottom: none; }
          .homeheader nav > ul > li:last-child > a:before {
            font-family: FontAwesome;
            content: "";
            margin-right: 1em; }
        .homeheader nav > ul > li ul {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          min-width: 100%;
          display: none;
          font-size: 0.9em;
          font-weight: 500;
          padding: 20px 0 0 0;
          letter-spacing: 0.025em;
          transition: 0.2s all;
          z-index: 0; }
          .homeheader nav > ul > li ul:before {
            background-color: #fff;
            content: "";
            display: block;
            height: 12px;
            left: 19px;
            position: absolute;
            top: 14px;
            transform: rotate(45deg);
            width: 12px;
            z-index: -1; }
          .homeheader nav > ul > li ul li {
            border-bottom: 1px solid rgba(124, 128, 129, 0.2);
            list-style-type: none;
            background-color: #fff;
            text-shadow: none; }
            .homeheader nav > ul > li ul li:last-child {
              border-bottom: none; }
            .homeheader nav > ul > li ul li a {
              display: block;
              padding: 0 0.4em;
              color: #7C8081;
              text-decoration: none;
              padding: 0.2em 0.5em;
              border-bottom: none; }
              .homeheader nav > ul > li ul li a:first-child {
                padding-top: 0.4em; }
              .homeheader nav > ul > li ul li a:hover {
                background-color: rgba(250, 250, 250, 0.6); }

.contact1, #pg_faq main section:last-child, #pg_courses main section:last-child {
  background-color: #645862;
  color: #fff;
  padding: 3em; }
  .contact1 h2, #pg_faq main section:last-child h2, #pg_courses main section:last-child h2, .contact1 p, #pg_faq main section:last-child p, #pg_courses main section:last-child p {
    text-align: center; }
  .contact1 p, #pg_faq main section:last-child p, #pg_courses main section:last-child p {
    margin: 0px 0px 2em; }

.contact2, #pg_detail main section:last-child {
  background-color: #83D3C9;
  color: #fff;
  padding: 3em; }
  .contact2 h2, #pg_detail main section:last-child h2, .contact2 p, #pg_detail main section:last-child p {
    text-align: center; }
  .contact2 p, #pg_detail main section:last-child p {
    margin: 0px 0px 2em; }

main {
  padding: 62px 120px 0px; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  color: #7C8081;
  background: none repeat scroll 0% 0% #F3F6FA;
  min-width: 850px; }

a {
  color: #3fb1a3;
  text-decoration: none;
  border-bottom: 1px dotted #3fb1a3; }
  a:hover {
    border-bottom: none; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 1.75em;
  text-transform: uppercase;
  text-align: center; }

header {
  text-shadow: none;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.075);
  position: fixed;
  top: 100px;
  margin-top: -100px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  height: auto;
  padding: 14px 22px;
  z-index: 1; }
  header h1 {
    display: inline-block;
    font-weight: 900;
    font-size: 1.05em;
    margin: 0; }
    header h1 a {
      text-decoration: none;
      color: #7C8081;
      border-bottom: none; }
    header h1 span {
      font-weight: 300; }
  header nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 37px;
    letter-spacing: 0.075em;
    font-size: 0.8em; }
    header nav > ul {
      margin: 0;
      padding: 0; }
      header nav > ul > li {
        position: relative;
        list-style-type: none;
        display: inline-block; }
        header nav > ul > li:last-child:hover ul {
          display: inherit; }
        header nav > ul > li:last-child:hover > a {
          background-color: #88e3d1;
          border-bottom: none; }
        header nav > ul > li > a {
          color: #7C8081;
          text-decoration: none;
          padding: 0.6em 0.75em;
          border: 1px solid transparent;
          margin-left: .5em;
          border-bottom: none; }
          header nav > ul > li > a:hover {
            background-color: #F3F6FA; }
        header nav > ul > li:last-child > a {
          background-color: #83D3C9;
          border-color: #83D3C9;
          color: #fff;
          text-shadow: none;
          font-weight: 900;
          padding-left: 1em;
          border-bottom: none; }
          header nav > ul > li:last-child > a:before {
            font-family: FontAwesome;
            content: "";
            margin-right: 1em; }
        header nav > ul > li ul {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          min-width: 100%;
          display: none;
          font-size: 0.9em;
          font-weight: 500;
          padding: 20px 0 0 0;
          letter-spacing: 0.025em;
          transition: 0.2s all;
          z-index: 0; }
          header nav > ul > li ul:before {
            background-color: #fff;
            content: "";
            display: block;
            height: 12px;
            left: 19px;
            position: absolute;
            top: 14px;
            transform: rotate(45deg);
            width: 12px;
            z-index: -1; }
          header nav > ul > li ul li {
            border-bottom: 1px solid rgba(124, 128, 129, 0.2);
            list-style-type: none;
            background-color: #fff; }
            header nav > ul > li ul li:last-child {
              border-bottom: none; }
            header nav > ul > li ul li a {
              display: block;
              padding: 0 0.4em;
              color: #7C8081;
              text-decoration: none;
              padding: 0.2em 0.5em;
              border-bottom: none; }
              header nav > ul > li ul li a:first-child {
                padding-top: 0.4em; }
              header nav > ul > li ul li a:hover {
                background-color: rgba(250, 250, 250, 0.6); }

footer h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #ccc; }
footer nav:first-of-type {
  display: inline-block;
  width: 33%;
  padding-left: 10%; }
  footer nav:first-of-type a {
    color: #7C8081;
    font-weight: normal;
    font-size: .85em;
    text-decoration: none;
    border-bottom: none; }
    footer nav:first-of-type a:before {
      content: "» "; }
    footer nav:first-of-type a:hover {
      text-decoration: underline; }
footer nav:last-of-type {
  display: inline-block;
  width: 33%;
  text-align: center; }
  footer nav:last-of-type a {
    border-bottom: none; }
    footer nav:last-of-type a:first-child::before {
      content: "\f099";
      background: none repeat scroll 0% 0% #70AECD; }
    footer nav:last-of-type a:first-child:hover {
      position: relative;
      top: -5px; }
    footer nav:last-of-type a:nth-child(2) {
      padding: 0 20px; }
      footer nav:last-of-type a:nth-child(2)::before {
        content: "\f09a";
        background: none repeat scroll 0% 0% #7490C3; }
      footer nav:last-of-type a:nth-child(2):hover {
        position: relative;
        top: -5px; }
    footer nav:last-of-type a:last-child::before {
      content: "\f0e0";
      background: none repeat scroll 0% 0% #3FB1A3; }
    footer nav:last-of-type a:last-child:hover {
      position: relative;
      top: -5px; }
footer p {
  text-align: center; }

#pg_faq main > h2:first-child::before {
  content: "\f128";
  font-size: 2.25em;
  margin: 20px;
  z-index: -1; }
#pg_faq main section {
  background: white;
  margin-bottom: 50px;
  padding: 35px 70px; }
  #pg_faq main section:last-child::before {
    content: "\f087";
    color: #eee;
    opacity: 1; }
  #pg_faq main section ul {
    list-style-type: none; }
    #pg_faq main section ul li {
      text-align: left; }
      #pg_faq main section ul li h3 {
        font-weight: bold;
        font-size: 1.2em;
        margin: 1em 0px 0.3em;
        text-align: left; }
      #pg_faq main section ul li p {
        border: 0px none;
        font: inherit;
        text-align: left; }

#pg_courses main > h2:first-child::before {
  content: "";
  font-size: 2.25em;
  margin: 20px; }
#pg_courses main section {
  background: #fff;
  margin-bottom: 50px;
  padding: 35px 70px;
  display: inline-flex;
  width: 100%; }
  #pg_courses main section:last-child {
    display: inline-block; }
    #pg_courses main section:last-child a:hover {
      background: none repeat scroll 0% 0% #88e3d1; }
  #pg_courses main section ul {
    list-style-type: none;
    width: 55%;
    display: inline-block;
    margin: 0; }
    #pg_courses main section ul li {
      text-align: left; }
      #pg_courses main section ul li h3 {
        font-weight: bold;
        font-size: 1.2em;
        margin: 1em 0px 0.3em;
        text-align: left; }
        #pg_courses main section ul li h3:before {
          content: "» "; }
      #pg_courses main section ul li p {
        border: 0px none;
        font: inherit;
        text-align: left; }
  #pg_courses main section aside {
    width: 40%;
    text-align: center; }
    #pg_courses main section aside nav a {
      display: block;
      border: 1px solid rgba(165, 165, 165, 0.3);
      margin-bottom: 15px; }
      #pg_courses main section aside nav a:hover {
        background-color: rgba(165, 165, 165, 0.1); }

#pg_signin main > h2:first-child::before {
  content: "";
  font-size: 2.25em;
  margin: 20px; }
#pg_signin main section {
  background: white;
  margin-bottom: 50px;
  padding: 35px 70px; }
  #pg_signin main section ul {
    list-style-type: none;
    padding-left: 0; }
    #pg_signin main section ul li {
      text-align: left;
      margin-bottom: 15px; }
      #pg_signin main section ul li:last-child {
        margin-bottom: 35px; }
  #pg_signin main section label {
    display: inline-block;
    min-width: 150px; }
  #pg_signin main section input {
    display: inline-block;
    border: 1px solid #999;
    padding: 10px;
    width: 30%; }
  #pg_signin main section form > input {
    margin-left: 155px;
    width: 20%; }
  #pg_signin main section a {
    display: block;
    margin-bottom: 35px;
    color: #3FB1A3;
    text-decoration: none;
    border-bottom: none; }
    #pg_signin main section a:hover {
      text-decoration: underline; }

#pg_dashboard main > h2:first-child::before {
  content: "";
  font-size: 2.25em;
  margin: 20px; }
#pg_dashboard main section {
  background: white;
  margin-bottom: 50px;
  padding: 35px 70px; }
  #pg_dashboard main section ul {
    list-style-type: none;
    padding-left: 0; }
    #pg_dashboard main section ul li {
      text-align: left;
      margin-bottom: 15px; }
      #pg_dashboard main section ul li:last-child {
        margin-bottom: 35px; }

#pg_detail main > h2:first-child::before {
  content: "";
  font-size: 2.25em;
  margin: 20px; }
#pg_detail main section {
  background: #fff;
  margin-bottom: 50px;
  padding: 35px 70px;
  display: inline-block;
  width: 100%; }
  #pg_detail main section:last-child {
    display: inline-block; }
    #pg_detail main section:last-child input:hover {
      background: none repeat scroll 0% 0% #88e3d1; }
  #pg_detail main section > article {
    width: 35%;
    display: inline-block; }
    #pg_detail main section > article p {
      font-size: 1.2em; }
    #pg_detail main section > article:before {
      content: "\f05a";
      font-size: 1.5em;
      margin: 0; }
  #pg_detail main section > section {
    float: right;
    width: 50%;
    padding: 0; }
    #pg_detail main section > section h2 {
      text-align: center;
      font-size: 1.2em; }
    #pg_detail main section > section ul {
      float: right; }
      #pg_detail main section > section ul li {
        list-style-type: none; }
    #pg_detail main section > section:before {
      content: "\f0c0";
      font-size: 1.5em;
      margin: 0; }
  #pg_detail main section a {
    display: inline-block; }
    #pg_detail main section a:hover {
      background: none repeat scroll 0% 0% #88e3d1; }
  #pg_detail main section aside {
    width: 40%;
    text-align: center; }
    #pg_detail main section aside nav a {
      display: block;
      border: 1px solid rgba(165, 165, 165, 0.3);
      margin-bottom: 15px; }
      #pg_detail main section aside nav a:hover {
        background-color: rgba(165, 165, 165, 0.1); }

/*# sourceMappingURL=main.css.map */
