{% extends 'base.html' %}

{% block meta_title %}Devenir prof ou élève en cours mutualisés{% endblock %}

{% from "forms/macros.html" import form_content %}

{% block title %}Créer mon compte{% endblock title %}

{% block page_id %}pg_signin{% endblock page_id %}

{% block body %}
    <section>
        <form method="post" action=".">
          {{ csrf_input }}
            {{ form_content(form) }}
            <input type="submit" />
        </form>
    </section>
{% endblock %}
